pipeline/pl_load.json
{
	"name": "pl_load",
	"properties": {
		"description": "stored the transformed data in 1st storage accocunt, in this pipeline will get that file and convert into json file and store it in 2nd storage account.",
		"activities": [
			{
				"name": "file_validation",
				"description": "will check for the availability of transformed orders csv file in 1st storageaccount's adls",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_transformedCSV_sink",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			},
			{
				"name": "column_count_check",
				"description": "checks the column count",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "file_validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_transformedCSV_sink",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "final_activity",
				"description": "based on column count will store the data in 2nd storage account, if it fails will trigger an email alert",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "column_count_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('column_count_check').output.columnCount,2)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pipeline_failure",
							"description": "stop pipeline execution",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "pipeline failed",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "copyCSVtoJSON",
							"description": "copies the transformed data and converts into a json",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:20:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "transformed-data",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "arrayOfObjects"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"path": "$['Column1']"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"path": "$['Column2']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_transformedCSV_sink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_final_json_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-08T11:27:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}